# python files
__pycache__
*.pyc
pycab_screencast.mp4
*initial.py
*/migrations
*.log*
delete.py
# screencast of app
pycab_screencast.mp4
.env

# file with sql transactions
table/backendAndTelegram/sql_transactions.py

# secret data like telegram TOKEN and an other
.env

# for tests on local
typical_commands.txt