{% extends "table_pages/table_index.html" %}

{% block body %}
<a href="{% url 'table' %}">Come Back </a>
<br>
<br>
<form action="{% url 'modify' pk=pk %}" method="post">{% csrf_token %}
    <div class="form-group">
        {{ form.word.label_tag }}
        {{ form.word }}
            <small class="form-text text-muted">To write word and definition, that you want to
            add</small>
    </div>

    <div class="form-group">
        {{ form.definition.label_tag }}
        {{ form.definition }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}