{% extends "table_pages/table_index.html" %}
{% block body %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}    
{% else %}
{% endif %}

<form action="{% url 'table' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label> Word </label>
        <input type="text" class="form-control" name="word" placeholder="Enter new word" required>
        <small class="form-text text-muted">To write word and definition, that you want to
            add</small>
    </div>
    <div class="form-group">
        <label> Definition </label>
        <input type="text" name="definition" class="form-control" placeholder="Definition" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<div class="row">
    <div class="col-12">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th width="15%" scope="col">Word</th>
                    <th width="70%" scope="col">Definition</th>
                </tr>

            </thead>
            <tbody>
                {% for record in page %}
                <tr>
                    <form method="POST">{% csrf_token %}
                        <td> {{ record.word }} </td>
                        <td> {{ record.definition }} </td>
                        <td>
                            <a class="btn btn-success" href="{% url 'modify' record.id %}">
                                <i class="fas fa-edit">modify</i></a> <!-- id=p.id_in_whole -->
                        <td>
                            <a class="btn btn-danger" href="{% url 'delete' record.id %}">
                                <i class="far fa-trash-alt">delete</i></a>
                        </td>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <div style="display: flex;justify-content: center;align-items: center;">
        Номер страницы: {{ page.number }}
        <br>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;">
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Назад</a>
    {% endif %}
    <span class="current-page"></span>
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Вперед</a>
    {% endif %}
</div>
{% endblock %}