{% extends "index.html" %}

{% block body %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
            </ul>
                <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}">Log Out</a>
        </div>
    </nav>
</header>

<br>
<br>
<br>

<form action="{ url 'modify' }" method="post">{% csrf_token %}
    <div class="form-group">
        <label> Word </label>
        <input type="text" class="form-control" name="word" aria-describedby="emailHelp" value="{{ wd.word }}" autofocus required>
        <small id="emailHelp" class="form-text text-muted">To write word and definition, that you want to
            add</small>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1"> Definition </label>
        <input type="text" name="definition" class="form-control" value="{{ wd.definition }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}