{% extends "index.html" %}

{% block body %}

<div class="container">
<form class="form-signin" method="POST" action="#">
      <br>
      <br>
      <br>
      <h2 class="form-signin-heading">ENTER YOUR'S MAIL! </h2>
      <br>
      <h2 class="form-signin-heading">JUST DO IT! </h2>
      <br>
      <label for="email" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">I PUSH THIS BUTTON RIGHT NOW!</button>
      <br>
      <a href="{% url 'login' %}" class="" style="color: red">SORRY I WANA CAMBACK</a>
      {% csrf_token %}
    </form>
  </div>>
  {% endblock %}