{% extends "index.html" %}

{% block body %}
<div class="container">
    <style>
        body{
         background-color: #000000; /* Цвет фона веб-страницы */
        } 
        h2 {
         color: white; /* Цвет фона под заголовком */
        }
       </style>
    <h2 class="form-signin-heading">Good boy. <br><br> Check your's email! <br> Wait for code. <br> And put this code to form below.</h2>
<br>
{% csrf_token %}<form method="POST" action="{% url 'password_step_second' %}">{% csrf_token %}
    {% csrf_token %}<input type="text" name="password" required />{% csrf_token %}
<br>
{{ fake }}
<br>
<a href="#" class="" style="color: red">Come back to authorization page </a>
</div>
{% endblock %}