{% extends "index.html" %}

{% block body %}
<br><br><br><br><br><br><br><br><br><br>

<body>
  <div>
    <div class="container">
      <div class="text-center">
        <div class="card-body">
          <h2 class="form-signin-heading">Enter your's new password</h2>
          <br>
          {% csrf_token %}          
          <form class="form-signin" action="{% url 'password_step_lust' %}" method="POST">
            {% csrf_token %}
            <div class="form-outline mb-4 mx-auto" style="width: 200px;">
              {% csrf_token %}
              <input type="password" name="password" class="form-control" placeholder="New password" required autofocus>{% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>

</body>



{% endblock %}