{% extends "index.html" %}

{% block body %}

{% load static %}

<body>

  <br><br><br><br><br><br>
  <div>
    <div class="container">
      <div class="text-center">
        <div class="card-body">
          <h2 class="form-signin-heading">You Know</h2>
          <form class="form-signin" action="" method="POST">

          {% csrf_token %}
          {% for field in form %}
          <p>
            <div class="form-outline mb-4 mx-auto" style="width: 200px;">
            {{ field }}
            {{ form.name }}
            </div>
          <p>
            {% endfor %}
            <input type = 'submit' value="Done " class = "btn btn-primary">
            <p>
            <a href="{% url 'reg' %}">I want to registrate</a>
            <p>
            <a href="{% url 'passwordstepone' %}">I forgot my password</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}


